// Variables

// Typography
$font-family: "Mont", "Noto Sans Korean", "Malgun Gothic", "맑은 고딕", "Helvetica Neue", sans-serif;

// Colors
$black: #202b41;
$black200: #2d3441;
$black300: #474747;
$gray: #aaaab3;
$gray200: #bfbfc6;
$gray300: #d4d4d9;
$gray400: #eaeaec;
$gray450: #f4f4f5;
$gray500: #fafafa;
$blue: #749CEC;
$red: #f04568;
$mint: #74ecba;

// Responsive
$large: 1024px;
$medium: 896px;
$small: 768px;
